<VirtualHost *:80>
	ServerName domain.tld
	DocumentRoot /var/www/project
	UseCanonicalName OFF
	CustomLog /var/log/apache2/domains/domain.tld.bytes bytes
	CustomLog /var/log/apache2/domains/domain.tld.log combined
	ErrorLog /var/log/apache2/domains/domain.tld.error.log

	<Directory /var/www/project>
		AllowOverride All
		Order Allow,Deny
		Allow from All
		Options -Indexes -ExecCGI +FollowSymlinks
	</Directory>

	Redirect 404 /favicon.ico
	<Location /favicon.ico>
		ErrorDocument 404 "No favicon"
	</Location>

	ProxyPassMatch ^/(.*\.php(/.*)?)$ fcgi://php:9999/var/www/project/$1
	DirectoryIndex index.php
</VirtualHost>

