.env
.env.tmp
.config

logs/*
!logs/.gitkeep
!logs/domains/*
!logs/domains/.gitkeep

services/apache/vhosts/*
!services/apache/vhosts/example.config
services/nginx/config/conf.d/*
!services/nginx/config/conf.d/example.config
