.env
.env.tmp
.config
.hosts.tmp

logs/*
!logs/.gitkeep
logs/domains/*
!logs/domains/.gitkeep

services/apache/vhosts/*
!services/apache/vhosts/*.config
services/nginx/config/conf.d/*
!services/nginx/config/conf.d/*.config
services/mysql/dump/*
!services/mysql/dump/.gitkeep

projects/*
!projects/.gitkeep
