server {
	root /var/www/projects/project;

	index index.html index.php;

	charset utf-8;

	server_name "domain.tld";

	location / {
		# try to serve file directly, fallback to index.php
		try_files $uri $uri/ /index.php$is_args$args;
	}

	location /favicon.ico {
		access_log off;
		log_not_found off;
	}

	location /robots.txt {
		access_log off;
		log_not_found off;
	}

	client_max_body_size 100m;

	# DEV
  location ~ ^/(info|index)\.php(/|$) {
    fastcgi_pass php:9999;
    fastcgi_split_path_info ^(.+\.php)(/.*)$;
    include fastcgi_params;

    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_param DOCUMENT_ROOT $realpath_root;
    fastcgi_param HTTPS off;
  }

	# return 404 for all other php files not matching the front controller
  # this prevents access to other php files you don't want to be accessible.
  location ~ \.php$ {
    return 404;
  }

	location ~ /\.ht {
		deny all;
	}
}
